////////////////////////////
// Propiedades de fuentes //
////////////////////////////
h2
{
    color: $color-white;
    font-family: $font-oldStandard;
    font-weight: $font-regular;
    font-size: $font-xLarge;
}
h1.mainContent__info-footerH1
{
    color: $color-white;
    font-family: $font-oldStandard;
    font-weight: $font-bold;
    font-size: $font-xxLarge;
}
h1.mainContent__info-welcomeH1
{
    color: $color-smokyBlack;
    font-family: $font-oldStandard;
    font-weight: $font-bold;
    font-size: $font-xxLarge;
}
p
{
    color: $color-graniteGray;
    font-family: $font-raleway;
    font-weight: $font-bold;
    font-size: $font-small;
}

//////////////////////
// Contenedor mayor //
//////////////////////
@media (max-width: 1024px)
{
    .mainContent
    {
        display: flex;
        flex-direction: column-reverse;

        width: 100%;
    }
    .mainContent__glassesGuy-img
    {
        width: 100%;
        height: 50vw;

        object-position: top;
        object-fit: cover;
    }
}
@media (min-width: 1025px)
{
    .mainContent
    {
        display: flex;
        flex-direction: row;

        width: 100%;
    }
    .mainContent__glassesGuy-img
    {
        width: 100%;
    }
}

///////////////////////////////
// Contenedor de informacion //
///////////////////////////////
@media (max-width: 768px)
{
    .mainContent__info-welcome
    {
        display: flex;
        flex-direction: column;

        padding: 32px;
        height: 70%;
    }
    .mainContent__info-button
    {
        color: $color-smokyBlack;
        font-family: $font-raleway;
        font-weight: $font-bold;
        font-size: $font-medium;

        background-color: $color-white;
        color: $color-smokyBlack;
        border: 2px solid $color-smokyBlack;

        &:hover
        {
            color: $color-smokyBlack;
            border: 2px solid $color-lightGray;
        }

        &:focus
        {
            color: $color-lightGray;
            border: 2px solid $color-lightGray;
        }

        width: 112px;
    }
}
@media (min-width: 769px)
{
    .mainContent__info-welcome
    {
        display: flex;
        flex-direction: column;

        padding: 32px;
        height: 70%;
    }
    .mainContent__info-button
    {
        color: $color-smokyBlack;
        font-family: $font-raleway;
        font-weight: $font-bold;
        font-size: $font-medium;

        background-color: $color-white;
        color: $color-smokyBlack;
        border: 2px solid $color-smokyBlack;

        &:hover
        {
            color: $color-smokyBlack;
            border: 2px solid $color-lightGray;
        }

        &:focus
        {
            color: $color-lightGray;
            border: 2px solid $color-lightGray;
        }

        width: 144px;
        padding: 8px;
    }
}

.mainContent__info
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1024px)
    {
        width: 100%;

        .mainContent__info-footerSubFont
        {
            font-family: $font-oldStandard;
            font-weight: $font-bold;
            font-size: $font-xxLarge;

            transform: rotate(-270deg) translateX(60%);
        }
    }
    @media (min-width: 1025px)
    {
        width: 50%;

        .mainContent__info-footerSubFont
        {
            font-family: $font-oldStandard;
            font-weight: $font-bold;
            font-size: 3vw;

            transform: rotate(-270deg);
        }
    }
}

////////////////////
// Seccion footer //
////////////////////
.mainContent__info-footer
{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 30%;
}

.mainContent__info-footerEmail
{
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;

    background-color: $color-smokyBlack;

    width: 90%;
    height: 100%;

    padding: 32px;
}

.mainContent__info-footerInfoInput
{
    width: 50%;
    min-width: 192px;
}

.mainContent__info-footerSub
{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-content: center;
    align-items: center;

    width: 10%;
    height: 100%;
}

//////////////////////////
// El colorin de lentes //
//////////////////////////
.mainContent__glassesGuy
{
    display: flex;
    flex-direction: row;

    @media (max-width: 1024px)
    {
        width: 100%;
    }
    @media (min-width: 1025px)
    {
        width: 50%;
    }
}
