// Colores
$color-white: #FFFFFF;
$color-isabelline: #ECECEC;
$color-lightGray: #D1D1D1;
$color-smokyBlack: #0C0910;
$color-graniteGray: #646266;
$color-quickSilver: #A6A4A8;

// Tamaños de fuentes
$font-xxxLarge: 50px;
$font-xxLarge: 30px;
$font-xLarge: 20px;
$font-large: 18px;
$font-medium: 16px;
$font-small: 14px;
$font-xSmall: 12px;

// Pesos de fuente
$font-regular: 400;
$font-bold: 700;

$font-oldStandard: 'Old Standard TT', 'Arial';
$font-raleway: 'Raleway', 'Arial';
